<footer class="bg-dark text-white fixed-bottom">
    <div class="container">
        <br>
        <div class="row">
            <!-- col-sm-xx는 전체 12 너비중에 몇을 사용할 지 입력한다. -->
            <div class="col-sm-12 text-center"><h6>Copyright &copy; 2020</h6><h7>SpringStar</h7></div>
            <!-- <div class="col-sm-6"><h6>회사소개</h6><p>정적 홈페이지 제작 및 웹애플리케이션 개발</p></div>               
            <div class="col-sm-6 text-center"><h6>SNS</h6></div>
             -->
        </div>
    </div>
    <br>
</footer>

<!-- jQuery & BootstarpJS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
<script src="/notfound/script.js"></script>
</body>
</html> 