<%- include('header.ejs')%>
<%- include('searchbar.ejs')%>
<!-- main section start-->

<h2 class="text-center">Welcome <b class="text-primary"><%= user_id%></b></h2>
<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quidem similique asperiores,<br>
   officiis ratione itaque dignissimos vitae est, corporis quaerat consequuntur necessitatibus laborum,<br>
    quos aut libero provident inventore debitis deserunt?</p>
<div class="container-sm">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit voluptates sunt officia? Earum commodi repudiandae, enim officiis esse pariatur debitis atque quibusdam dignissimos praesentium officia, saepe suscipit natus ab.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit voluptates sunt officia? Earum commodi repudiandae, enim officiis esse pariatur debitis atque quibusdam dignissimos praesentium officia, saepe suscipit natus ab.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit voluptates sunt officia? Earum commodi repudiandae, enim officiis esse pariatur debitis atque quibusdam dignissimos praesentium officia, saepe suscipit natus ab.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit voluptates sunt officia? Earum commodi repudiandae, enim officiis esse pariatur debitis atque quibusdam dignissimos praesentium officia, saepe suscipit natus ab.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit voluptates sunt officia? Earum commodi repudiandae, enim officiis esse pariatur debitis atque quibusdam dignissimos praesentium officia, saepe suscipit natus ab.

</div>
<div class="container-sm">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit voluptates sunt officia? Earum commodi repudiandae, enim officiis esse pariatur debitis atque quibusdam dignissimos praesentium officia, saepe suscipit natus ab.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit voluptates sunt officia? Earum commodi repudiandae, enim officiis esse pariatur debitis atque quibusdam dignissimos praesentium officia, saepe suscipit natus ab.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit voluptates sunt officia? Earum commodi repudiandae, enim officiis esse pariatur debitis atque quibusdam dignissimos praesentium officia, saepe suscipit natus ab.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit voluptates sunt officia? Earum commodi repudiandae, enim officiis esse pariatur debitis atque quibusdam dignissimos praesentium officia, saepe suscipit natus ab.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit voluptates sunt officia? Earum commodi repudiandae, enim officiis esse pariatur debitis atque quibusdam dignissimos praesentium officia, saepe suscipit natus ab.
</div>
<!-- main section end-->    
<%- include('footer.ejs') %>
