<%- include('header.ejs')%>
<!-- main section start-->

<h1 class="text-center">Login plz..</h1>
<form action="/login" method="POST" class="loginForm bg-primary text-right">    
    <p>
        <label for="id">ID</label><input id="id" type="text" name="id" required>    
    </p>
    <p>
        <label for="password">Password</label><input id="password" type="password" name="password" required>    
    </p>
    <input type="submit" value="확인">&nbsp;&nbsp;<br>&nbsp;    
</form>

<!-- main section end-->    
<%- include('footer.ejs') %>
