.jumbotron {
    background-image: url('/notfound/jumbotronBG.jpg');
    background-size: cover;
    border-radius: 0px;
}

/* navbar 가운데 정렬 */
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

/* 로그인 폼 */
nav {
    position: relative;
}
.loginForm {
    text-align: center;
    margin: 0 auto;
    width: 280px;
    background-color: red;
}

.loginForm>p {
    padding: 10px;
}

#user {
    font-size: 18px;
}

#user:hover .memberMenu {
    display: block;       
}

.memberMenu {
    display: none;
    position: absolute;
    font-size: 12px; 
    list-style-type: none;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: hsla(219, 44%, 46%, 0.932);
    width: 80px;
    top: 45px;
    left: 15px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
    color: white; 
}

.memberMenu a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.memberMenu a:hover {
    color: yellow;
}
.memberMenu:before {
    content: '';
    width: 80px;
    height: 15px;
    /* background-color: yellow; */
    position: absolute;
    top: -14px;
    left: 0;    
}

#logout {
    font-size: 11px;
    color: black;
    margin-right: 5px;
    text-align: left;
}

article {
    margin-bottom: 200px;   
}
